<app-navbar></app-navbar>

<div class="container mt-5">
  <div class="row justify-content-center">

    <div class="col-md-12">
      <div class="row  mt-5">
        <div class="col-md-6 ">
          <h3 class="mt-2 ml-2" style="text-align:left;">Plans and Pricing</h3>
        </div>

      </div>
    </div>


  </div>

  <!-- BEGIN PRICING CARDS 1 -->
  <div class="row mt-4">

    <div class="col-md-3">

      <div class="card ">

        <div class="card-body text-white bg-info text-center">
          <h2 class="">Basic</h2>
          <div class="price">
            <h3><span class="text-xxxl">100</span></h3>
          </div>
          <div class="sessions">
            <span class="text-lg">Sessions</span>
          </div>

          <h2 class="mt-2">Rs. 1,000</h2>
        </div>

        <div class="card-body text-center">
          <ul class="list-unstyled">

            <li>+10 Sessions Extra</li>

          </ul>
        </div>

        <div class="card-body text-center">
          <a class="btn btn-primary" routerLink="/payment">Recharge</a>
        </div>
      </div>

    </div>
    <div class="col-md-3">
      <!-- card -->
      <div class="card  ">

        <div class="card-body style-primary text-white text-center">
          <h2 class="">Standard</h2>
          <div class="price">
            <h3><span class="text-xxxl">250</span></h3>
          </div>
          <div class="sessions">
            <span class="text-lg">Sessions</span>
          </div>

          <h2 class="mt-2">Rs. 2,500</h2>
        </div>

        <div class="card-body text-center">
          <ul class="list-unstyled">

            <li>+20 Sessions Extra</li>

          </ul>
        </div>

        <div class="card-body text-center">
          <a class="btn style-primary text-white" routerLink="/payment">Recharge</a>
        </div>
      </div>

    </div>

    <div class="col-md-3">
      <!-- card -->
      <div class="card  ">

        <div class="card-body text-white bg-info text-center">
          <h2 class="">Extended</h2>
          <div class="price">
            <h3><span class="text-xxxl">500</span></h3>
          </div>
          <div class="sessions">
            <span class="text-lg">Sessions</span>
          </div>

          <h2 class="mt-2">Rs. 5,000</h2>
        </div>

        <div class="card-body text-center">
          <ul class="list-unstyled">

            <li>+30 Sessions Extra</li>

          </ul>
        </div>

        <div class="card-body text-center">
          <a class="btn btn-primary" routerLink="/payment">Recharge</a>
        </div>
      </div>

    </div>

    <div class="col-md-3">
      <!-- card -->
      <div class="card  ">

        <div class="card-body style-primary text-white text-center">
          <h2 class="">Pro</h2>
          <div class="price">
            <h3><span class="text-xxxl">1000</span></h3>
          </div>
          <div class="sessions">
            <span class="text-lg">Sessions</span>
          </div>

          <h2 class="mt-2">Rs. 10,000</h2>
        </div>

        <div class="card-body text-center">
          <ul class="list-unstyled">

            <li>+50 Sessions Extra</li>

          </ul>
        </div>

        <div class="card-body text-center">
          <a class="btn style-primary text-white" routerLink="/payment">Recharge</a>
        </div>
      </div>

    </div>

  </div>

  <div class="row justify-content-center">
    <div class="col-md-6 col-md-offset-3 mt-5 mb-5">
      <div class="card  text-center">
        <div class="card-head text-center">

          <h4 class="card-header style-primary text-white">CUSTOM PLANS</h4>
        </div>
        <!--end .card-head -->
        <div class="card-body ">
          <ul class="list-unstyled">

            <li class="text-lg mt-4">Custom plans are available for Enterprise Clients. Contact us for details.</li>

          </ul>
          <a class="btn style-primary text-white" routerLink="/support">Contact Us</a>
        </div>
        <!--end .card-body -->
      </div>
      <!--end .card -->
    </div>
    <!--end .col -->
  </div>
</div>
