.container-fluid{
    margin-top: 25px;
  }

.style-primary {
    background-color: #066265;
}
.card.style-primary {
    background-color: #2196f3;
    border-color: #2196f3;
    color: #ffffff;
  }

.text-light {
    font-weight: 300;
  }
.text-lg {
    font-size: 125%;
  }
  .text-xl {
    font-size: 180%;
  }
  .text-xxl {
    font-size: 225%;
  }
  .text-xxxl {
    font-size: 330%;
  }
  .text-xxxxl {
    font-size: 500%;
  }