<app-navbar></app-navbar>


<div class="container mt-5">
    <app-banner></app-banner> 
    <div class="row justify-content-center">

        <div class="col-md-12">
            <div class="row  mt-3">
                <div class="col-md-6 ">
                    <h3 class="mt-2 mb-4" style="text-align:left;">Create Merchant</h3>
                </div>
            </div>
        </div>

    </div>

    <form [formGroup]="this.merchantForm">
        <div class="form-group">
            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="title">Business Title</label>
                        <input type="text" formControlName="title" class="form-control" required
                            [ngClass]="{'is-invalid': submitted && formControls.title.errors}">

                        <div class="invalid-feedback" *ngIf="submitted && formControls.title.errors">
                            <label *ngIf="formControls.title.errors.required">Field is required</label>
                        </div>

                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="price">Business Owner/Manager Full Name</label>
                        <input type="text" formControlName="businessOwnerFullName" class="form-control" required
                            [ngClass]="{'is-invalid': submitted && formControls.businessOwnerFullName.errors}">
                        <div class="invalid-feedback" *ngIf="submitted && formControls.businessOwnerFullName.errors">
                            <label *ngIf="formControls.businessOwnerFullName.errors.required">Field is required</label>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="title">Business Owner Email</label>
                        <input type="email" formControlName="businessOwnerEmail" class="form-control" required
                            [ngClass]="{'is-invalid': submitted && formControls.businessOwnerEmail.errors}">

                        <div class="invalid-feedback" *ngIf="submitted && formControls.businessOwnerEmail.errors">
                            <label *ngIf="formControls.businessOwnerEmail.errors.required">Field is required</label>
                        </div>

                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="price">Business Owner Contact Number</label>
                        <input type="text" formControlName="businessOwnerContactNo" class="form-control" required
                            [ngClass]="{'is-invalid': submitted && formControls.businessOwnerContactNo.errors}">
                        <div class="invalid-feedback" *ngIf="submitted && formControls.businessOwnerContactNo.errors">
                            <label *ngIf="formControls.businessOwnerContactNo.errors.required">Field is required</label>
                        </div>

                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="select2">Business Type</label>
                        <select id="type" name="type" class="form-control" formControlName="type" ng-model="type"
                            required [ngClass]="{'is-invalid': submitted && formControls.type.errors}">
                            <option value="" selected>Select Business type</option>

                            <option value="Beauty Saloon">Beauty Saloon</option>
                            <option value="Boutique/Garments">Boutique/Garments</option>
                            <option value="Departmental Store">Departmental Store</option>
                            <option value="Electronics">Electronics</option>
                            <option value="Food Chain">Food Chain</option>
                            <option value="Grocery Store">Grocery Store</option>
                            <option value="Online">Online Business</option>
                            <option value="Restaurant">Restaurant</option>
                            <option value="Shopping Mall">Shopping Mall</option>
                            <option value="Standalone Stall">Standalone Stall</option>

                        </select>
                        <div class="invalid-feedback" *ngIf="submitted && formControls.type.errors">
                            <label *ngIf="formControls.type.errors.required">Field is required</label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="select2">Security Deposit</label>

                        <input type="text" formControlName="security" class="form-control" required
                            [ngClass]="{'is-invalid': submitted && formControls.security.errors}">
                        <div class="invalid-feedback" *ngIf="submitted && formControls.security.errors">
                            <label *ngIf="formControls.security.errors.required">Field is required</label>
                        </div>

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="select2">Subscription Type</label>
                        <select id="type" name="type" class="form-control" formControlName="subscriptionType" ng-model="type"
                            required [ngClass]="{'is-invalid': submitted && formControls.subscriptionType.errors}">
                            <option value="" selected>Select Subscription Type</option>
                            <option value="prepaid">Prepaid</option>
                            <option value="postpaid">Postpaid</option>

                        </select>
                        <div class="invalid-feedback" *ngIf="submitted && formControls.subscriptionType.errors">
                            <label *ngIf="formControls.subscriptionType.errors.required">Field is required</label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="select2">Subscription Plan</label>

                        <select id="subscriptionPlan" name="subscriptionPlan" class="form-control" formControlName="subscriptionPlan" ng-model="subscriptionPlan"
                            required [ngClass]="{'is-invalid': submitted && formControls.subscriptionPlan.errors}">
                            <!-- <option value="">&nbsp;</option> -->
                            <option value="" selected>Select Subscription Plan</option>
                            <option value="basic">Basic</option>
                            <option value="extended">Extended</option>
                            <option value="standard" >Standard</option>
                            <option value="pro" >Pro</option>

                        </select>
                        <div class="invalid-feedback" *ngIf="submitted && formControls.subscriptionPlan.errors">
                            <label *ngIf="formControls.subscriptionPlan.errors.required">Field is required</label>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </form>

    <div class="row justify-content-center">

        <div class="col-md-12">
            <div class="row  mt-3">
                <div class="col-md-6 ">
                    <button class="btn ink-reaction btn-raised btn-info" (click)="this.createMerchant()"
                     >Create Merchant</button>
                </div>
            </div>
        </div>

    </div>

</div>