<app-navbar></app-navbar>
<app-banner></app-banner>

<div class="container mt-5">
  <div class="row justify-content-center mx-auto">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="table-responsive-sm">
        <table class="table table-bordered table-hover mx-auto" style="width: 70%">
          <!-- <thead class="thead text-white bg-primary">
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
          </thead> -->

          <!-- <ng-container *ngFor="let index of usersArray;">
            <tr>
              <td>{{ index.id }}</td>
              <td>{{ index.name }} </td>
              <td>{{ index.email  }}</td>
              <td>{{ index.address }}</td>
            </tr>
          </ng-container> -->
        </table>
      </div>
    </div>
  </div>
</div>


<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="">
        <div class="card mt-5">
          <div class="card-body">

            <div class="wrapper">
              <input type="Submit" class="btn btn-primary mr-4" data-toggle="tooltip" data-placement="right"
                title="Submit" value="Submit" (click)=" submit()" />

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>