<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <div>
      <a class="btn navbar-brand " data-toggle="collapse" (click)="openNav()" data-target="#multiCollapseExample"
        href="javascript:void(0);">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <a class="navbar-brand " href="/">
      <img src="../../../assets/images/DOSMenu.png" width="120px" height="40px" alt="" />
    </a>

    <div class="collapse navbar-collapse show" id="navbarSupportedContent" [ngClass]="{ 'show': navbarOpen }">

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">

          <div class="dropdown">
            <a class="dropbtn dropdown-toggle ink-reaction" data-toggle="dropdown">
              <!-- <img src="assets/img/avatar1.jpg?1403934956" alt="" /> -->
              <span class="profile-info" style="padding-top: 10px;">
                {{login.fullName}} <br>
                <small>{{login.role}}</small>
              </span>
            </a>
            <!-- 
            <a class="dropbtn">Patients</a> -->

            <div class="dropdown-content">
              <li>
                <a (click)="logout()">
                  <i class="fa fa-fw fa-power-off "></i>
                  Logout
                </a>
              </li>
              
            </div>
          </div>

        </li>
      </ul>


      <!-- <div class="headerbar-right">
        <ul class="header-nav header-nav-profile">
          <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
            
              <span class="profile-info" style="padding-top: 10px;">
                {{login.fullName}} <br>
                <small>{{login.role}}</small>
              </span>
            </a>
            <ul class="dropdown-menu animation-dock">
              <li>
                <a (click)="logout()">
                  <i class="fa fa-fw fa-power-off text-danger"></i>
                  Logout
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div> -->


    </div>

  </div>
</nav>
<span (click)="closeNav()"></span>

<div class="area"></div>
<nav class="main-menu" id="multiCollapseExample">
  <ul>
    <li>
      <a routerLink="/merchantDetails">
        <i class="fa fa-shield fa-2x"></i>
        <span class="nav-text">
          Merchants
        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a routerLink="/offers">

        <i class="fa fa-shopping-cart fa-2x"></i>
        <span class="nav-text">
          Offers
        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a routerLink="/sessions">
        <i class="fa fa-shopping-bag fa-2x"></i>
        <span class="nav-text">
          Sessions
        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a routerLink="/recharge">
        <i class="fa fa-folder-open fa-2x"></i>
        <span class="nav-text">
          Recharge
        </span>
      </a>

    </li>
 
    <li>
      <a routerLink="/help">
        <i class="fa fa-question-circle"></i>
        <span class="nav-text">
          Help
        </span>
      </a>
    </li>
    <li>
      <a routerLink="/support">

        <i class="fa fa-phone fa-2x"></i>
        <span class="nav-text">
          DOS Support
        </span>
      </a>
    </li>
  </ul>
</nav>