<div class="container" style="margin: 8% auto 0%">
    <div class="row justify-content-center">
      <div class="col-md-6 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <div class="myform">
          <div class="logo mb-3">
            <div class="col-md-12 text-center">
              <h2>Create Account</h2>
            </div>
          </div>
  
          <!-- SignUp Form  -->
          <form [formGroup]="signUpForm"  (ngSubmit) ="Signup()">
  
            <!-- First Name -->
            <div class="form-group">
                <label for="email">First Name</label>
                <input
                    formControlName="firstName"
                    id="firstName"
                    type="text"
                    placeholder="Enter First Name"
                    class="form-control"
                    required
                    autocomplete
                    autofocus
                />
                <div *ngIf="isSubmitted && this.signUpForm.controls.firstName.errors" role="alert" class="alert alert-danger mt-3 mb-3">
                    <small *ngIf="this.signUpForm.controls.firstName.errors.required">
                    First name is required
                    </small>
                   
                </div>
            </div>
        
            <!-- Last Name -->
            <div class="form-group">
                <label for="email">Last Name</label>
                <input
                    formControlName="lastName"
                    id="lastName"
                    type="text"
                    placeholder="Enter Last Name"
                    class="form-control"
                    required
                    autocomplete
                    autofocus
                />
                <div *ngIf="isSubmitted && this.signUpForm.controls.lastName.errors" role="alert" class="alert alert-danger mt-3 mb-3">
                    <small *ngIf="this.signUpForm.controls.lastName.errors.required">
                    First name is required
                    </small>
                   
                </div>
            </div>
 
            
            <!-- Email Address -->
            <div class="form-group">
              <label for="email">Email Address</label>
              <input
                formControlName="email"
                id="email"
                type="email"
                placeholder="Enter Email"
                class="form-control"
                required
                autocomplete
                autofocus
              />
              <div *ngIf="isSubmitted && this.signUpForm.controls.email.errors" role="alert" class="alert alert-danger mt-3 mb-3">
                <small *ngIf="this.signUpForm.controls.email.errors.required">
                  Email is required
                </small>
                <small *ngIf="this.signUpForm.controls.email.hasError('email')">
                  Email is invalid
                </small>
              </div>
            </div>
  
            <!-- Password -->
            <div class="form-group">
              <label for="password">Password</label>
              <input
                  formControlName="password"
                  id="password"
                  type="password"
                  placeholder="Enter Password"
                  class="form-control"
                  required
                  autocomplete
                />
              <div *ngIf="isSubmitted && this.signUpForm.controls.password.errors" role="alert" class="alert alert-danger mt-3 mb-3">
                <small *ngIf="this.signUpForm.controls.password.errors.required">Password is required</small>
              </div>
            </div>
             <div *ngIf="this.auth.displaySignUpMessage"  role="alert" class="alert alert-danger mt-3 mb-3">
              <span >
                {{this.auth.signUpMessage}}</span>
            </div> 
  
            <div class="col-md-12 text-center ">
              <input class="btn btn-primary mr-5" type="reset" value="Reset" readonly />
              <input class="btn btn-success" type="submit" value="SignUp" readonly />
            </div>
          </form> 
          <div class="col-md-12 mt-3 ">
            <label for="account"> Already have account?<a routerLink="/sign-in" > Login</a></label>  
          </div>
        </div>
      </div>
    </div>
  </div>   