<app-navbar></app-navbar>


<div class="container mt-4">
  <div class="row justify-content-center">

    <div class="col-md-12">
      <div class="row  mt-5">
        <div class="col-md-6 ">
          <h3 class="mt-2 ml-2" style="text-align:left;">Sessions Played</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row  justify-content-center mt-4">
    <div class="col-md-12">

      <div class="card ">
        <div class="card-body ">
          <div class="table-responsive">
            <table class="table table-striped table-hover borderless">
              <thead>
                <tr class="text-center">
                  <th class="text-center">Sessions Code</th>
                  <th class="text-center">Offer Title</th>
                  <th class="text-center">Branch</th>
                  <th class="text-center">Status</th>
                  <th class="text-center">Session Closed</th>
                  <th class="text-center">Duration</th>
                  <th class="text-center">Date Created</th>
                </tr>
              </thead>

              <tbody>
                <tr class="text-center">
                  <td><span id="">--</span></td>
                  <td><span id="">--</span></td>
                  <td><span id="">--</span></td>
                  <td><span id="">--</span></td>
                  <td><span id="">--</span></td>
                  <td><span id="">--</span></td>
                  <td><span id="" data-branchId="">--</span></td>
                  <td class="middle small-icon">
                    <a title="Edit Offer" href="" data-id='' data-toggle="tooltip" ng-click='editOffer($event)'
                      data-placement="top" data-original-title="Edit Offer">
                      <i class="md md-edit" data-id=''></i>
                    </a>
                  </td>
                </tr>
                <tr id="noRowMessage" style="display: none;">
                  <td colspan="7">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                        <div class="alert alert-info middle text-center" role="alert">
                          <strong id="statusOffer"></strong>
                          <span id="messageOffer"></span>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
