<app-navbar></app-navbar>

<div class="container-fluid ml-3 mr-0">
  <div class="row">
    <!-- Give this div your desired background color -->
    <div class="container-fluid color">
      <div class="row ml-0 mr-0 mt-5">
        <div class="">
          <h3 class="align-left  text-white">
            {{ merchantObj.store.title }}<br />
            <small class="text-light" style="font-size: 55% !important;">{{
              merchantObj.store.type
            }}</small>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  -->

<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="row ml-3 mb-5">
        <div class="col-md-6 p-0">
          <div
            class="card  h-100 text-white style-primary mt-5"
            style="box-shadow: none;-webkit-box-shadow: none;border-radius: 0px"
          >
            <h4 class="card-header ">Ownership</h4>

            <div class="card-body">
              <div class="size-3 width-12">
                <h2 class="text-xxl text-bold text-line-spacing">
                  {{ merchantObj.store.businessOwnerFullName }}
                </h2>

                <span class="fa fa-envelope opacity-75 mt-4"> </span>
                <span class="ml-2 text-lg text-light text-line-spacing "
                  >{{ merchantObj.store.businessOwnerEmail }}
                </span>
                <br />
                <span class="fa fa-phone opacity-75"> </span>
                <span class="ml-2 text-lg text-light text-line-spacing ">
                  {{ merchantObj.store.businessOwnerContactNo }}</span
                >
                <br />
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 p-0">
          <div
            class="card h-100 text-white style-primary mt-5"
            style="box-shadow: none;-webkit-box-shadow: none;border-radius: 0px"
          >
            <h4 class="card-header">Sessions</h4>

            <div class="card-body">
              <div class="size-3 width-12">
                <span class="text-normal text-lg text-line-spacing"
                  >Plan:
                </span>
                <span
                  class="text-light text-lg text-line-spacing"
                  style="text-transform: capitalize;"
                  >{{ merchantObj.store.plan }}</span
                >

                <br />
                <span class="text-normal text-lg text-line-spacing"
                  >Status:
                </span>
                <span class="text-light text-lg text-line-spacing">{{
                  merchantObj.store.status
                }}</span>

                <br />
                <span class="text-normal text-lg text-line-spacing"
                  >Total Sessions:
                </span>

                <span class="text-light text-lg text-line-spacing">{{
                  merchantObj.store.purchasedSessions
                }}</span>

                <br />

                <span class="text-normal text-lg text-line-spacing"
                  >Sessions Consumed:
                </span>

                <span class="text-light text-lg text-line-spacing">{{
                  merchantObj.store.usedSessions
                }}</span>

                <br />
                <span class="text-normal text-lg text-line-spacing"
                  >Sessions Remaining:
                </span>

                <span class="text-light text-lg text-line-spacing">{{
                  merchantObj.store.remainingSessions
                }}</span>

                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="row mt-5 ml-3">
    <div class="col-md-12">
      <div class="m-b-20" style="border-bottom: 1px solid #adacac">
        <h2>Branches</h2>
      </div>
    </div>
  </div>

  <div class="row mt-3 mb-5 ml-3">
    <div class="col-md-12">
      <div *ngFor="let branch of merchantObj.store.branches; let i = index">
        <button
          class="accordion style-primary"
          (click)="toggleAccordian($event, i)">
          {{ branch.branchTitle }}, {{ branch.city }}
        </button>

        <div class="panel" hide="!branch.isActive">
          <div class="panel-body">
            <div class="">
              <div class="step-gray ">
                <div
                  class="row step-gray"
                  style="border-bottom:1px solid #e8e7e7">
                  <div class="col-xs-12 col-lg-6 mt-3 mb-3">
                    <div class="">
                      <div class="">
                        <div class="col-lg-12 text-line-spacing">
                          <span class="text-xl text-bold">
                            {{ branch.branchManager }}
                            </span>
                            <br />
                          <span class="text-normal">Branch Manager</span>
                        </div>
                      </div>

                      <div class="">
                        <div class="clearfix opacity-75">
                          <div class="col-md-6">
                            <span class="fa fa-phone opacity-75 text-sm"></span>
                            &nbsp;{{ branch.contactNo }}
                          </div>
                          <div class="col-md-8">
                            <span
                              class="fa fa-envelope opacity-75 text-sm"
                            ></span>
                            &nbsp;{{ branch.email }}
                          </div>
                        </div>
                      </div>

                      <div class="clearfix">
                        <div class="col-lg-12">
                          <span class="opacity-75"
                            ><span class="fa fa-map-marker text-sm"></span>
                            &nbsp;{{ branch.address1 }}, {{ branch.address2 }},
                            {{ branch.province }} {{ branch.city }},
                            {{ branch.country }}</span>
                        </div>
                      </div>
                    </div>
                    <!--end .hbox-column -->
                  </div>

                  <div class="col-xs-12 col-lg-6 hbox-xs mt-4 mb-3">
                    <div class="hbox-column v-top">
                      <div class="clearfix opacity-75">
                        <div
                          class="col-lg-12 margin-bottom-lg text-line-spacing">
                        
                          <span class="text-bold">Branch Key:</span>&nbsp;
                          <span class="text-normal">{{
                            branch.branchKey
                          }}</span>
                        </div>
                      </div>
                      <div class="clearfix opacity-75">
                        <div
                          class="col-lg-12 margin-bottom-lg text-line-spacing"
                        >
                          <span class="text-bold">Branch Code:</span>&nbsp;
                          <span class="text-normal">{{
                            branch.branchCode
                          }}</span>
                        </div>
                      </div>
                      <div class="clearfix opacity-75">
                        <div
                          class="col-lg-12 margin-bottom-lg text-line-spacing"
                        >
                          <span class="text-bold">Sessions Consumed:</span
                          >&nbsp;
                          <span class="text-normal">{{
                            branch.usedSessions
                          }}</span>
                        </div>
                      </div>
                    </div>
                    <!--end .hbox-column -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
