.color {
  background-color:  #212121;

}
.container-fluid{
margin-top: 25px;


}

.style-primary {
background-color: #066265;
}
.step-gray{
background: #cccfcf;
}
.pointerCursor {
cursor: pointer;
}
.tools {

float: right;
}

.text-xl {
font-size: 150%;
}
.text-normal {
font-size: 100%;
}
.text-bold {
font-weight: 700;
}
.card {
  border: none;
}
.bg-info {
  color: #5DBCD2;
}
.align-left {
  padding-left:100px;
}
.container-fluid {
  padding-right:0;
  padding-left:0;
  margin-right:auto;
  margin-left:auto
}
.text-light {
  font-weight: 300;
}
.text-normal {
 font-weight: 400;
}


section.full-bleed {
  padding: 0 !important;
}
.section-body:first-child {
  margin-top: 24px;
}
.full-bleed .section-body:first-child {
  margin-top: 0;
}
.section-body.full-bleed {
  margin: 0 -24px;
}
.section-header {
  height: 64px;
  padding: 14px 0;
}
/* accordian */
.accordion {
  background-color: #066265;
  color: rgb(252, 241, 241);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border-radius: 2%;
  border-color: #cccfcf;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
/* 
.active, .accordion:hover {
  background-color: #ccc;
} */

.accordion:after {
  content: '\002B';
  color: rgb(252, 240, 240);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

