<app-navbar></app-navbar>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 mt-5  text-center">
      <img src="assets/images/DOSTxtTab.png" width="100%">
    </div>

  </div>

  <div class="row justify-content-center">
    <div class="col-md-8 col-md-offset-2 mt-5 p-t-30 p-b-50 step-white p-l-50 p-r-50">

      <span class="text-xl p-b-50">For payments, you can choose any of the following options which is convenient for
        you.</span>
      <br>
    </div>
  </div>

  <div class="row justify-content-center mt-5 ">

    <div class="col-md-4">
      <span class="text-lg text-center"><b>Account Transfer</b></span>
      <br>
      <span class="">You can transfer funds to our bank account through Online Banking or physically visiting the
        Bank.</span>

      <dl class="mt-3">
        <span class=""><b>Title: </b>Luminogics (SMC-Private) Limited</span>
        <br>
        <span class=""><b>Account #: </b>PK65ALFH0042001004727899</span>
        <br>
        <span class=""><b>Bank: </b>Bank Alfalah Limited</span>
        <br>
        <span class=""><b>Branch: </b>Allama Iqbal Town Lahore</span>
        <br>
      </dl>
    </div>

    <div class="col-md-4">
      <span class="text-lg"><b>Bank Cheque</b></span>
      <br>
      <span class="">You can make payments through cross cheque in favor of <b>"Luminogics (SMC-Pvt.) Limited"</b> and
        send it to the following address</span>
      <dl class=" mt-3">
        <span class="">Luminiogics (SMC-Private) Limited</span>
        <br>
        <span class="">Suite 102, 1st Floor, Sector A1</span>
        <br>
        <span class="">TownShip, Lahore</span>
        <br>
        <span class="">Punjab, Pakistan</span>
        <br>
      </dl>
    </div>
    <span class="text-sm col-md-8 mt-5">All accounts will be rechareged once the payment will be cleared. To avoid any
      inconvenience, make payments atleast one week before the expiration of your sessions.</span>

  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-md-4 col-md-offset-4 p-t-30 p-b-20 text-center">

      <img src="assets/images/LuminogicsLogo.png" width="20%">
      <br>
      <span class="text-lg">Developed by Luminogics (SMC-Private) Limited</span>
      <br>
      <span class="text-lg"><a href="http://www.luminogics.com" target="_blank">www.luminogics.com</a></span>


    </div>
  </div>
</div>
