<app-navbar></app-navbar>

<div class="container mt-5">
  <app-banner></app-banner>
  <div class="row justify-content-center">

    <div class="col-md-12">
      <div class="row  mt-5">
        <div class="col-md-6 ">
          <h3 class="mt-2 ml-2" style="text-align:left;">Offers</h3>
        </div>
        <div class="col-md-6 ">
          <button class="btn ink-reaction btn-raised btn-info" (click)="this.open(content)" style="float:right;"
            data-toggle="modal" data-target="#addNewOfferModal">Add New Offer</button>

        </div>
      </div>
    </div>
  </div>

  <div class="row  justify-content-center mt-2">
    <div class="col-md-12">

      <div class="card ">
        <div class="card-body ">
          <div class="table-responsive">
            <table class="table table-striped table-hover borderless">
              <thead>
                <tr class="text-center">
                  <th class="text-center">Title</th>
                  <th class="text-center">Game Mode</th>
                  <th class="text-center">Status</th>
                  <th class="text-center">Price</th>
                  <th class="text-center">Sessions</th>
                  <th class="text-center">Offer Code</th>
                  <th class="text-center">Branch</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>

              <tbody>
                <tr class="text-center" *ngFor="let offer of this.offers">
                  <td><span>{{offer.title}}</span></td>
                  <td><span>{{offer.mode}}</span></td>
                  <td><span id="">{{offer.status}}</span></td>
                  <td><span id="">{{offer.price}}</span></td>
                  <td><span id="">{{offer.sessions}}</span></td>
                  <td><span id="">{{offer.offerCode}}</span></td>
                  <td><span id="">{{offer.branch.title}}</span></td>
                  <!-- data-branchId="" -->
                  <td class="middle small-icon">
                    <a title="Edit Offer" data-id='' data-toggle="tooltip" (click)='this.openEditOffers(editContent,$event)'
                     data-id='{{offer.offerId}}' data-toggle="tooltip"
                       
                    data-placement="top" data-original-title="Edit Offer">
                      <i class="fa fa-edit" data-id=''></i>
                    </a>
                  </td>
                </tr>
                <tr id="noRowMessage" style="display: none;">
                  <td colspan="7">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                        <div class="alert alert-info middle text-center" role="alert">
                          <strong id="statusOffer"></strong>
                          <span id="messageOffer"></span>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create New Offer</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="this.offerForm">
      <div class="form-group">
        <div class="row">

          <div class="col-sm-6">
            <div class="form-group">
              <label for="title">Offer Title</label>
              <input type="text" formControlName="title" class="form-control" required
                [ngClass]="{'is-invalid': submitted && formControls.title.errors}">

              <div class="invalid-feedback" *ngIf="submitted && formControls.title.errors">
                <label *ngIf="formControls.title.errors.required">Field is required</label>
              </div>

            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="price">Price</label>
              <input type="text" formControlName="price" class="form-control" required
                [ngClass]="{'is-invalid': submitted && formControls.price.errors}">
              <div class="invalid-feedback" *ngIf="submitted && formControls.price.errors">
                <label *ngIf="formControls.price.errors.required">Field is required</label>
              </div>

            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="select2">Select Game Mode</label>
              <select id="mode" name="mode" class="form-control" formControlName="mode" ng-model="mode" required
                [ngClass]="{'is-invalid': submitted && formControls.mode.errors}">
                <option value="">&nbsp;</option>
                <option value="veryEasy">Very Easy</option>
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
                <option value="veryHard">Very Hard</option>
                <option value="custom">Custom</option>
                <option value="demo">Demo</option>
              </select>
              <div class="invalid-feedback" *ngIf="submitted && formControls.mode.errors">
                <label *ngIf="formControls.mode.errors.required">Field is required</label>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="select2">Select Branch</label>
              <select id="branch" name="branch" class="form-control" formControlName="branch" ng-model="branch" required
                [ngClass]="{'is-invalid': submitted && formControls.branch.errors}">
                <option value="">&nbsp;</option>
                <option value="all">Available to All Branches</option>
                <option *ngFor="let branch of merchantObj.store.branches" value="{{branch.branchId}}">
                  {{branch.branchTitle}}</option>
              </select>

              <div class="invalid-feedback" *ngIf="submitted && formControls.branch.errors">
                <label *ngIf="formControls.branch.errors.required">Field is required</label>
              </div>

            </div>
          </div>
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="createOffer()">Create Offer</button>
  </div>
</ng-template>


<ng-template #editContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Offer</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="this.offerForm">
      <div class="row" style="padding: 10px 10px 20px 10px;">
        <div class= ''>
          <label class="radio-inline radio-styled">
            <input  type="radio" name="ou-status" id="statusActive" value="true"><span>Activate</span>
          </label>
          <label class="radio-inline radio-styled ml-2">
            <input   type="radio" name="ou-status" id="statusDeactive" value="false"><span>Deactivate</span>
          </label>
        </div>
   
      </div>

      <div class="form-group">
        <div class="row">

          <div class="col-sm-6">
            <div class="form-group">
              <label for="title">Offer Title</label>
              <input type="text" formControlName="title" class="form-control" required 
                [ngClass]="{'is-invalid': isSubmitted && formControls.title.errors}">

              <div class="invalid-feedback" *ngIf="isSubmitted && formControls.title.errors">
                <label *ngIf="formControls.title.errors.required">Field is required</label>
              </div>

            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="price">Price</label>
              <input type="text" formControlName="price" class="form-control" required
                [ngClass]="{'is-invalid': isSubmitted && formControls.price.errors}">
              <div class="invalid-feedback" *ngIf="isSubmitted && formControls.price.errors">
                <label *ngIf="formControls.price.errors.required">Field is required</label>
              </div>

            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="select2">Select Game Mode</label>
              <select id="mode" name="mode" class="form-control" formControlName="mode" ng-model="mode" required
                [ngClass]="{'is-invalid': isSubmitted && formControls.mode.errors}">
                <option value="">&nbsp;</option>
                <option value="veryEasy">Very Easy</option>
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
                <option value="veryHard">Very Hard</option>
                <option value="custom">Custom</option>
                <option value="demo">Demo</option>
              </select>
              <div class="invalid-feedback" *ngIf="isSubmitted && formControls.mode.errors">
                <label *ngIf="formControls.mode.errors.required">Field is required</label>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="select2">Select Branch</label>
              <select id="branch" name="branch" class="form-control" formControlName="branch" ng-model="branch" required
                [ngClass]="{'is-invalid': isSubmitted && formControls.branch.errors}">
                <option value="">&nbsp;</option>
                <option value="all">Available to All Branches</option>
                <option *ngFor="let branch of merchantObj.store.branches" >
                  {{branch.branchTitle}}</option>
              </select>

              <div class="invalid-feedback" *ngIf="isSubmitted && formControls.branch.errors">
                <label *ngIf="formControls.branch.errors.required">Field is required</label>
              </div>

            </div>
          </div>
        </div>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="updateOffer()"> Update Offer</button>
  </div>
</ng-template>
<hr>

<div class="modalpopups">
  <div id="addNewOfferModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="formModalLabel">Create New Offer</h4>
        </div>

      </div>
    </div>
  </div>
</div>