<app-navbar></app-navbar>

<div class="container-fluid ml-3 mr-0">
    <div class="row">
      <!-- Give this div your desired background color -->
      <div class="container-fluid color">
        <div class="row ml-0 mr-0 mt-5">
          <div class="">
            <h3 class="align-left  text-white">
              {{ detailsObj.title }}<br />
              <small class="text-light" style="font-size: 55% !important;">{{
                detailsObj.type
              }}</small>
            </h3>
          </div>
        </div>
      </div>
    </div>
</div>


<div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="row ml-3 mb-5">
          <div class="col-md-6 p-0">
            <div
              class="card  h-100 text-white style-primary mt-5"
              style="box-shadow: none;-webkit-box-shadow: none;border-radius: 0px"
            >
              <h4 class="card-header ">Ownership</h4>
  
              <div class="card-body">
                <div class="size-3 width-12">
                  <h2 class="text-xxl text-bold text-line-spacing">
                    {{ detailsObj.businessOwnerFullName }}
                  </h2>
  
                  <span class="fa fa-envelope opacity-75 mt-4"> </span>
                  <span class="ml-2 text-lg text-light text-line-spacing "
                    >{{ detailsObj.businessOwnerEmail }}
                  </span>
                  <br />
                  <span class="fa fa-phone opacity-75"> </span>
                  <span class="ml-2 text-lg text-light text-line-spacing ">
                    {{ detailsObj.businessOwnerContactNo }}</span
                  >
                  <br />
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-md-6 p-0">
            <div
              class="card h-100 text-white style-primary mt-5"
              style="box-shadow: none;-webkit-box-shadow: none;border-radius: 0px"
            >
              <h4 class="card-header">Sessions</h4>
  
              <div class="card-body">
                <div class="size-3 width-12">
                  <span class="text-normal text-lg text-line-spacing"
                    >Plan:
                  </span>
                  <span
                    class="text-light text-lg text-line-spacing"
                    style="text-transform: capitalize;"
                    >{{ detailsObj.plan }}</span
                  >
  
                  <br />
                  <span class="text-normal text-lg text-line-spacing"
                    >Status:
                  </span>
                  <span class="text-light text-lg text-line-spacing">{{
                    detailsObj.status
                  }}</span>
  
                  <br />
                  <span class="text-normal text-lg text-line-spacing"
                    >Total Sessions:
                  </span>
  
                  <span class="text-light text-lg text-line-spacing">{{
                    detailsObj.purchasedSessions
                  }}</span>
  
                  <br />
  
                  <span class="text-normal text-lg text-line-spacing"
                    >Sessions Consumed:
                  </span>
  
                  <span class="text-light text-lg text-line-spacing">{{
                    detailsObj.usedSessions
                  }}</span>
  
                  <br />
                  <span class="text-normal text-lg text-line-spacing"
                    >Sessions Remaining:
                  </span>
  
                  <span class="text-light text-lg text-line-spacing">{{
                    detailsObj.remainingSessions
                  }}</span>
  
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5 ml-3" style="border-bottom: 1px solid #adacac">
        <div class="col-md-6">
          <div class="m-b-20"  style="text-align:left;" >
            <h2>Branches</h2>
          </div>
        </div>

        <div class="col-md-6 ">
            <button class="btn ink-reaction btn-raised btn-info" (click)="this.open(content)" style="float:right;"
              data-toggle="modal" data-target="#addNewOfferModal">Add Branch</button>
  
          </div>
        
    </div>

    <div class="row mt-3 mb-5 ml-3">
        <div class="col-md-12">
          <div *ngFor="let branch of branches; let i = index">
            <button
              class="accordion style-primary"
              (click)="toggleAccordian($event, i)">
              {{ branch.branchTitle }}, {{ branch.city }}
            </button>
    
            <div class="panel" hide="!branch.isActive">
              <div class="panel-body">
                <div class="">
                  <div class="step-gray ">
                    <div
                      class="row step-gray"
                      style="border-bottom:1px solid #e8e7e7">
                      <div class="col-xs-12 col-lg-6 mt-3 mb-3">
                        <div class="">
                          <div class="">
                            <div class="col-lg-12 text-line-spacing">
                              <span class="text-xl text-bold">
                                {{ branch.branchManager }}
                                </span>
                                <br />
                              <span class="text-normal">Branch Manager</span>
                            </div>
                          </div>
    
                          <div class="">
                            <div class="clearfix opacity-75">
                              <div class="col-md-6">
                                <span class="fa fa-phone opacity-75 text-sm"></span>
                                &nbsp;{{ branch.contactNo }}
                              </div>
                              <div class="col-md-8">
                                <span
                                  class="fa fa-envelope opacity-75 text-sm"
                                ></span>
                                &nbsp;{{ branch.email }}
                              </div>
                            </div>
                          </div>
    
                          <div class="clearfix">
                            <div class="col-lg-12">
                              <span class="opacity-75"
                                ><span class="fa fa-map-marker text-sm"></span>
                                &nbsp;{{ branch.address1 }}, {{ branch.address2 }},
                                {{ branch.province }} {{ branch.city }},
                                {{ branch.country }}</span>
                            </div>
                          </div>
                        </div>
                        <!--end .hbox-column -->
                      </div>
    
                      <div class="col-xs-12 col-lg-6 hbox-xs mt-4 mb-3">
                        <div class="hbox-column v-top">
                          <div class="clearfix opacity-75">
                            <div
                              class="col-lg-12 margin-bottom-lg text-line-spacing">
                            
                              <span class="text-bold">Branch Key:</span>&nbsp;
                              <span class="text-normal">{{
                                branch.branchKey
                              }}</span>
                            </div>
                          </div>
                          <div class="clearfix opacity-75">
                            <div
                              class="col-lg-12 margin-bottom-lg text-line-spacing"
                            >
                              <span class="text-bold">Branch Code:</span>&nbsp;
                              <span class="text-normal">{{
                                branch.branchCode
                              }}</span>
                            </div>
                          </div>
                          <div class="clearfix opacity-75">
                            <div
                              class="col-lg-12 margin-bottom-lg text-line-spacing"
                            >
                              <span class="text-bold">Sessions Consumed:</span
                              >&nbsp;
                              <span class="text-normal">{{
                                branch.usedSessions
                              }}</span>
                            </div>
                          </div>
                        </div>
                        <!--end .hbox-column -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>  


<ng-template #content let-modal>
  <div class="">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add New Branch</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    
        <form [formGroup]="this.branchForm">
            <div class="form-group">
                <div class="row">
    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="title">Branch Title</label>
                            <input type="text" formControlName="branchtitle" class="form-control" required
                                [ngClass]="{'is-invalid': submitted && formControls.branchtitle.errors}">
    
                            <div class="invalid-feedback" *ngIf="submitted && formControls.branchtitle.errors">
                                <label *ngIf="formControls.branchtitle.errors.required">Field is required</label>
                            </div>
    
                        </div>
                    </div>
    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="price">Branch Manager Full Name</label>
                            <input type="text" formControlName="branchManagerFullName" class="form-control" required
                                [ngClass]="{'is-invalid': submitted && formControls.branchManagerFullName.errors}">
                            <div class="invalid-feedback" *ngIf="submitted && formControls.branchManagerFullName.errors">
                                <label *ngIf="formControls.branchManagerFullName.errors.required">Field is required</label>
                            </div>
    
                        </div>
                    </div>
    
                </div>
    
                <div class="row">
    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="title">Branch Manager Email</label>
                            <input type="email" formControlName="branchManagerEmail" class="form-control" required
                                [ngClass]="{'is-invalid': submitted && formControls.branchManagerEmail.errors}">
    
                            <div class="invalid-feedback" *ngIf="submitted && formControls.branchManagerEmail.errors">
                                <label *ngIf="formControls.branchManagerEmail.errors.required">Field is required</label>
                            </div>
    
                        </div>
                    </div>
    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="price"> Contact Number</label>
                            <input type="text" formControlName="contactNo" class="form-control" required
                                [ngClass]="{'is-invalid': submitted && formControls.contactNo.errors}">
                            <div class="invalid-feedback" *ngIf="submitted && formControls.contactNo.errors">
                                <label *ngIf="formControls.contactNo.errors.required">Field is required</label>
                            </div>
    
                        </div>
                    </div>
    
                </div>
    
    
                <div class="row">
    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="title">Address 1</label>
                            <input type="text" formControlName="address1" class="form-control" required
                                [ngClass]="{'is-invalid': submitted && formControls.address1.errors}">
    
                            <div class="invalid-feedback" *ngIf="submitted && formControls.address1.errors">
                                <label *ngIf="formControls.address1.errors.required">Field is required</label>
                            </div>
    
                        </div>
                    </div>
    
                    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="title">Address 2</label>
                            <input type="text" formControlName="address2" class="form-control" required
                                [ngClass]="{'is-invalid': submitted && formControls.address2.errors}">
    
                            <div class="invalid-feedback" *ngIf="submitted && formControls.address2.errors">
                                <label *ngIf="formControls.address2.errors.required">Field is required</label>
                            </div>
    
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="select2">Country</label>
                            <select id="type" name="country" class="form-control" formControlName="country" ng-model="country"
                                required [ngClass]="{'is-invalid': submitted && formControls.country.errors}">
                            
                                <option value="" selected>Select Country</option>
                                <option value="Afghanistan">Afghanistan</option>
                                <option value="Albania">Albania</option>
                                <option value="Algeria">Algeria</option>
                                <option value="Andorra">Andorra</option>
                                <option value="Angola">Angola</option>
                                <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                <option value="Argentina">Argentina</option>
                                <option value="Armenia">Armenia</option>
                                <option value="Australia">Australia</option>
                                <option value="Austria">Austria</option>
                                <option value="Azerbaijan">Azerbaijan</option>
                                <option value="Bahamas">Bahamas</option>
                                <option value="Bahrain">Bahrain</option>
                                <option value="Bangladesh">Bangladesh</option>
                                <option value="Barbados">Barbados</option>
                                <option value="Belarus">Belarus</option>
                                <option value="Belgium">Belgium</option>
                                <option value="Belize">Belize</option>
                                <option value="Benin">Benin</option>
                                <option value="Bhutan">Bhutan</option>
                                <option value="Bhutan">Pakistan</option>
                                
    
                            </select>
                            <div class="invalid-feedback" *ngIf="submitted && formControls.country.errors">
                                <label *ngIf="formControls.country.errors.required">Field is required</label>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="select2">City</label>
    
                            <input type="text" formControlName="city" class="form-control" required
                                [ngClass]="{'is-invalid': submitted && formControls.city.errors}">
                            <div class="invalid-feedback" *ngIf="submitted && formControls.city.errors">
                                <label *ngIf="formControls.city.errors.required">Field is required</label>
                            </div>
    
                        </div>
                    </div>
                </div>
    
    
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="select2">Province</label>
                            
                            <input type="text" formControlName="province" class="form-control" required
                                [ngClass]="{'is-invalid': submitted && formControls.province.errors}">
                            <div class="invalid-feedback" *ngIf="submitted && formControls.province.errors">
                                <label *ngIf="formControls.province.errors.required">Field is required</label>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="select2">Zip Code</label>
                            
                            <input type="text" formControlName="zipCode" class="form-control" required
                                [ngClass]="{'is-invalid': submitted && formControls.zipCode.errors}">
                            <div class="invalid-feedback" *ngIf="submitted && formControls.zipCode.errors">
                                <label *ngIf="formControls.zipCode.errors.required">Field is required</label>
                            </div>
    
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="select2">Security</label>
                            
                            <input type="text" formControlName="security" class="form-control" required
                                [ngClass]="{'is-invalid': submitted && formControls.security.errors}">
                            <div class="invalid-feedback" *ngIf="submitted && formControls.security.errors">
                                <label *ngIf="formControls.security.errors.required">Field is required</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Cancel</button>
      <button type="button" class="btn btn-outline-dark" (click)="addBranch()">Add Branch</button>
    </div>
  </div>
   
  </ng-template>
  
  <hr>

<div class="modalpopups">
  <div id="addNewOfferModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="formModalLabel">Create New Offer</h4>
        </div>

      </div>
    </div>
  </div>
</div>