<app-navbar></app-navbar>

<div class="container mt-5">
    <app-banner></app-banner> 
    <div class="row justify-content-center">

        <div class="col-md-12">
            <div class="row  mt-3">
                <div class="col-md-6 ">
                    <h3 class="mt-2 mb-4" style="text-align:left;">Add Branch</h3>
                </div>
            </div>
        </div>

    </div>

    <form [formGroup]="this.branchForm">
        <div class="form-group">
            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="title">Branch Title</label>
                        <input type="text" formControlName="branchtitle" class="form-control" required
                            [ngClass]="{'is-invalid': submitted && formControls.branchtitle.errors}">

                        <div class="invalid-feedback" *ngIf="submitted && formControls.branchtitle.errors">
                            <label *ngIf="formControls.branchtitle.errors.required">Field is required</label>
                        </div>

                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="price">Branch Manager Full Name</label>
                        <input type="text" formControlName="branchManagerFullName" class="form-control" required
                            [ngClass]="{'is-invalid': submitted && formControls.branchManagerFullName.errors}">
                        <div class="invalid-feedback" *ngIf="submitted && formControls.branchManagerFullName.errors">
                            <label *ngIf="formControls.branchManagerFullName.errors.required">Field is required</label>
                        </div>

                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="title">Branch Manager Email</label>
                        <input type="email" formControlName="branchManagerEmail" class="form-control" required
                            [ngClass]="{'is-invalid': submitted && formControls.branchManagerEmail.errors}">

                        <div class="invalid-feedback" *ngIf="submitted && formControls.branchManagerEmail.errors">
                            <label *ngIf="formControls.branchManagerEmail.errors.required">Field is required</label>
                        </div>

                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="price"> Contact Number</label>
                        <input type="text" formControlName="contactNo" class="form-control" required
                            [ngClass]="{'is-invalid': submitted && formControls.contactNo.errors}">
                        <div class="invalid-feedback" *ngIf="submitted && formControls.contactNo.errors">
                            <label *ngIf="formControls.contactNo.errors.required">Field is required</label>
                        </div>

                    </div>
                </div>

            </div>


            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="title">Address 1</label>
                        <input type="text" formControlName="address1" class="form-control" required
                            [ngClass]="{'is-invalid': submitted && formControls.address1.errors}">

                        <div class="invalid-feedback" *ngIf="submitted && formControls.address1.errors">
                            <label *ngIf="formControls.address1.errors.required">Field is required</label>
                        </div>

                    </div>
                </div>

                
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="title">Address 2</label>
                        <input type="text" formControlName="address2" class="form-control" required
                            [ngClass]="{'is-invalid': submitted && formControls.address2.errors}">

                        <div class="invalid-feedback" *ngIf="submitted && formControls.address2.errors">
                            <label *ngIf="formControls.address2.errors.required">Field is required</label>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="select2">Country</label>
                        <select id="type" name="country" class="form-control" formControlName="country" ng-model="country"
                            required [ngClass]="{'is-invalid': submitted && formControls.country.errors}">
                        
                            <option value="" selected>Select Country</option>
                            <option value="Afghanistan">Afghanistan</option>
                            <option value="Albania">Albania</option>
                            <option value="Algeria">Algeria</option>
                            <option value="Andorra">Andorra</option>
                            <option value="Angola">Angola</option>
                            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Armenia">Armenia</option>
                            <option value="Australia">Australia</option>
                            <option value="Austria">Austria</option>
                            <option value="Azerbaijan">Azerbaijan</option>
                            <option value="Bahamas">Bahamas</option>
                            <option value="Bahrain">Bahrain</option>
                            <option value="Bangladesh">Bangladesh</option>
                            <option value="Barbados">Barbados</option>
                            <option value="Belarus">Belarus</option>
                            <option value="Belgium">Belgium</option>
                            <option value="Belize">Belize</option>
                            <option value="Benin">Benin</option>
                            <option value="Bhutan">Bhutan</option>
                            <option value="Bhutan">Pakistan</option>
                            

                        </select>
                        <div class="invalid-feedback" *ngIf="submitted && formControls.country.errors">
                            <label *ngIf="formControls.country.errors.required">Field is required</label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="select2">City</label>

                        <input type="text" formControlName="city" class="form-control" required
                            [ngClass]="{'is-invalid': submitted && formControls.city.errors}">
                        <div class="invalid-feedback" *ngIf="submitted && formControls.city.errors">
                            <label *ngIf="formControls.city.errors.required">Field is required</label>
                        </div>

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="select2">Province</label>
                        
                        <input type="text" formControlName="province" class="form-control" required
                            [ngClass]="{'is-invalid': submitted && formControls.province.errors}">
                        <div class="invalid-feedback" *ngIf="submitted && formControls.province.errors">
                            <label *ngIf="formControls.province.errors.required">Field is required</label>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="select2">Zip Code</label>
                        
                        <input type="text" formControlName="zipCode" class="form-control" required
                            [ngClass]="{'is-invalid': submitted && formControls.zipCode.errors}">
                        <div class="invalid-feedback" *ngIf="submitted && formControls.zipCode.errors">
                            <label *ngIf="formControls.zipCode.errors.required">Field is required</label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="select2">Security</label>
                        
                        <input type="text" formControlName="security" class="form-control" required
                            [ngClass]="{'is-invalid': submitted && formControls.security.errors}">
                        <div class="invalid-feedback" *ngIf="submitted && formControls.security.errors">
                            <label *ngIf="formControls.security.errors.required">Field is required</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="row justify-content-center">

        <div class="col-md-12">
            <div class="row  mt-3 mb-5">
                <div class="col-md-6 ">
                    <button class="btn ink-reaction btn-raised btn-info" (click)="this.next()"> Next </button>
                </div>
            </div>
        </div>

    </div>

</div>