
<div class="container" style="margin: 10% auto 0%">
  <div class="row justify-content-center">
      <div class="col-md-6 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
        <div class="myform">

          <div class="logo mb-3">
            <div class="col-md-12 text-center">
              <!-- <img src="../../../assets/images/DOSTxtTab.png" width="350px" height="80px" alt="" />
            -->
              <h2>Login</h2>
            </div>
          </div>

          <!-- Login Form  -->
          <form [formGroup]="loginForm"  (ngSubmit) ="login()">

            <!-- Email Address -->
            <div class="form-group">
              <label for="email">Email Address</label>
              <input
                formControlName="email"
                id="email"
                type="email"
                placeholder="Enter Email"
                class="form-control"
                required
                autocomplete
                autofocus
              />
              <div *ngIf="isSubmitted && this.loginForm.controls.email.errors" role="alert" class="alert alert-danger mt-3 mb-3">
                <small *ngIf="this.loginForm.controls.email.errors.required">
                  Email is required
                </small>
                <small *ngIf="this.loginForm.controls.email.hasError('email')">
                  Email is invalid
                </small>
              </div>
            </div>

            <!-- Password -->
            <div class="form-group">
              <label for="password">Password</label>
              <input
                  formControlName="password"
                  id="password"
                  type="password"
                  placeholder="Enter Password"
                  class="form-control"
                  required
                  autocomplete
                />
              <div *ngIf="isSubmitted && this.loginForm.controls.password.errors" role="alert" class="alert alert-danger mt-3 mb-3">
                <small *ngIf="this.loginForm.controls.password.errors.required">Password is required</small>
              </div>
            </div>
             <div *ngIf="this.auth.displayError"  role="alert" class="alert alert-danger mt-3 mb-3">
              <span >
                {{ this.auth.loginMessage }}</span>
            </div>

            <div class="col-md-12 text-center ">
              <input class="btn btn-primary mr-5" type="reset" value="Reset" readonly />
              <input class="btn btn-success" type="submit" value="Login" readonly />
            </div>
          </form>
          <div class="col-md-12 mt-3 ">
            <label for="account"> Do not have account?<a routerLink="/sign-up" > Create One</a></label>
          </div>
        </div>
      </div>
    </div>
  </div>
