<div class="container">

  <div class=" text-center " >
    <div class="" >
        <div class="  mx-auto" >
            <h5 *ngIf="showMessage !==''" class="alert " [ngStyle]="{'background-color': colors} " >
                {{ showMessage }}

             </h5>
        </div>
    </div>
   </div>

</div>
