.style-primary {
    background-color: #066265;
}

.tools {

  float: right;
}
.pointerCursor {
  cursor: pointer;
}
.text-xxl {
  font-size: 170%;
}
.text-lg {
  font-size: 125%;
}
.step-gray{
	background: #cccfcf;
}
.step {
  background: #f9fafa;
}