<app-navbar></app-navbar>

<div class="container justify-content-center">
  <div class="row mt-5">
    <h3 class="mt-4 ml-5" style="text-align:left;">FAQs</h3>
  </div>

  <div class="row ml-3">
    <div class="col-md-12">

      <div class="panel panel-primary ">

        <div class="row  style-primary  pointerCursor" (click)="panelExpanded = !panelExpanded">

          <div class="panel-heading col-md-6">
            <h4 class="panel-title mt-2 ml-2 text-white" style="text-align:left;">FAQ # 1
            </h4>
          </div>

          <div class="panel-heading col-md-6">
            <a class="btn text-white tools" style="text-align:right;"><i class="fa fa-plus"></i></a>
          </div>

        </div>

      </div>

      <div class="panel-body justify-content-center" *ngIf="panelExpanded">
        <div class="text-center">
          <div class="step-gray px-50 pt-30 ">
            <span class="text-xxl">Step 1.</span>
            <span class="text-lg p-b-20">Go to the admin panel and click on “Offers” tab is left menu</span>
            <br>
            <img src="assets/images/LeftMenu.png" class="mt-3 mb-5">
          </div>
          <div class="step ">
            <span class="text-xxl mt-3">Step 2.</span>
            <span class="text-lg">On Offers page, click on “Add New Offer” button on top right on the page</span>
            <br>
            <img src="assets/images/CreateNewOffer.png" class="mt-3 mb-5">
          </div>
          <div class="step-gray ">
            <span class="text-xxl">Step 3.</span>
            <span class="text-lg">Fill in the offer name, price, difficulty level and select a branch.</span>
            <br>
            <img src="assets/images/CreateOffer.png" class="mt-3 mb-5">
          </div>
          <div class="step">
            <span class="text-xxl">Step 4.</span>
            <span class="text-lg">Click on “Add Offer” button on the bottom to finish and your offer will be available
              in Offers List</span>
            <br>

            <img src="assets/images/CreateOffer.png" class="mt-3 mb-5">
          </div>
          <div class="step-gray">
            <span class="text-xxl">Step 5.</span>
            <span class="text-lg">To make newly added offers available on your mobile application, click on “Update
              List” button in settings screen on your mobile application</span>
            <br>

            <img src="assets/images/UpdateList.png" class="mt-3 mb-5">
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3 ml-3">
    <div class="col-md-12">

      <div class="panel panel-primary ">

        <div class="row  style-primary  pointerCursor" (click)="isHidden = !isHidden">

          <div class="panel-heading col-md-6">
            <h4 class="panel-title mt-2 ml-2 text-white" style="text-align:left;">FAQ # 2
            </h4>
          </div>

          <div class="panel-heading col-md-6">
            <a class="btn  text-white tools" style="text-align:right;"><i class="fa fa-plus"></i></a>
          </div>

        </div>

      </div>

      <div class="panel-body" *ngIf="isHidden">
        <div class="text-center">
          <div class="step-gray p-b-50 p-t-30 ">
            <span class="text-xxl">Step 1.</span>
            <span class="text-lg">Go to the admin panel and click on “Offers” tab is left menu</span>
            <br>
            <img src="assets/images/LeftMenu.png" class="mt-3 mb-5">
          </div>
          <div class="step p-b-50 p-t-30 ">
            <span class="text-xxl">Step 2.</span>
            <span class="text-lg">On Offers page, click on “Edit” icon on the offer you want to edit</span>
            <br>
            <img src="assets/images/CreateNewOffer.png" class="mt-3 mb-5">
          </div>
          <div class="step-gray p-b-50 p-t-30 ">
            <span class="text-xxl">Step 3.</span>
            <span class="text-lg">Edit the offer name, price, difficulty level and select a branch</span>
            <br>
            <img src="assets/images/UpdateOffer.png" class="mt-3 mb-5">
          </div>
          <div class="step p-b-50 p-t-30 ">
            <span class="text-xxl">Step 4.</span>
            <span class="text-lg">Click on “Update Offer” button on the bottom to finish</span>
            <br>
            <img src="assets/images/UpdateOffer.png" class="mt-3 mb-5">
          </div>
          <div class="step-gray p-b-50 p-t-30 ">
            <span class="text-xxl">Step 5.</span>
            <span class="text-lg">To make newly added offers available on your mobile application, click on “Update
              List” button in settings screen on your mobile application</span>
            <br>
            <img src="assets/images/UpdateList.png" class="mt-3 mb-5">
          </div>

        </div>

      </div>

    </div>
  </div>

  <div class="row mt-3 ml-3">
    <div class="col-md-12">

      <div class="panel panel-primary ">

        <div class="row  style-primary  pointerCursor">

          <div class="panel-heading col-md-6">
            <h4 class="panel-title mt-2 ml-2 text-white" style="text-align:left;">FAQ # 3
            </h4>
          </div>

          <div class="panel-heading col-md-6">
            <a class="btn text-white tools" style="text-align:right;"><i class="fa fa-plus"></i></a>
          </div>

        </div>

      </div>
    </div>
  </div>


  <div class="row mt-3 ml-3">
    <div class="col-md-12">

      <div class="panel panel-primary ">

        <div class="row  style-primary  pointerCursor">

          <div class="panel-heading col-md-6">
            <h4 class="panel-title mt-2 ml-2 text-white" style="text-align:left;">FAQ # 4
            </h4>
          </div>

          <div class="panel-heading col-md-6">
            <a class="btn text-white tools" style="text-align:right;"><i class="fa fa-plus"></i></a>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
