<app-navbar></app-navbar>


<div class="container mt-5">
    <!-- <app-banner></app-banner> -->
    <div class="row justify-content-center">
  
      <div class="col-md-12">
        <div class="row  mt-5">
          <div class="col-md-6 ">
            <h3 class="mt-2 ml-2" style="text-align:left;">Merchants</h3>
          </div>
          <div class="col-md-6 ">
            <button class="btn ink-reaction btn-raised btn-info" (click)="this.addMerchant(content)" style="float:right;"
              data-toggle="modal" data-target="#addNewOfferModal">Add New Merchant</button>
  
          </div>
        </div>
      </div>
  
    </div>
  
  
    <div class="row  justify-content-center mt-2">
      <div class="col-md-12">
  
        <div class="card ">
          <div class="card-body ">
            <div class="table-responsive">
              <table class="table table-striped table-hover borderless">
                <thead>
                  <tr class="text-center">
                    <th class="text-center">Title</th>
                    <th class="text-center">Business Type</th>
                    <th class="">Registered To</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Remaining Sessions</th>
                    <th class="text-center">Used Sessions</th>
                    <th class="text-center">Total Branches</th>
                    <th class="text-center">Registred Since</th>
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
  
                <tbody>
                  <tr class="text-center" *ngFor="let merchant of this.merchantObj">
                    <td><span>{{merchant.title}}</span></td>
                    <td><span>{{merchant.type}}</span></td>
                    <td><span id="">{{merchant.businessOwnerFullName}}</span></td>
                    <td><span id="">{{merchant.status}}</span></td>
                    <td><span id="">{{merchant.remainingSessions}}</span></td>
                    <td><span id="">{{merchant.usedSessions}}</span></td>
                    <td><span id="">{{merchant.totalBranches}}</span></td>
                    <td><span id="">{{merchant.registeredSince}}</span></td>
                    
                    <!-- data-branchId="" (click)='this.openEditOffers(editContent,$event)' {{offer.offerId}}-->
                    <td class="middle small-icon">
                      <a title="Edit" data-id='' data-toggle="tooltip" 
                       data-id='merchant.storeId' data-toggle="tooltip"
                        (click)='this.open(merchant.storeId)' data-placement="top" data-original-title="open">
                        <i class="fa fa-edit" data-id=''> </i>
                      </a>
                    </td>
                  </tr>
                  <tr id="noRowMessage" style="display: none;">
                    <td colspan="7">
                      <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                          <div class="alert alert-info middle text-center" role="alert">
                            <strong id="statusOffer"></strong>
                            <span id="messageOffer"></span>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
  
              </table>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  </div>