<app-navbar></app-navbar>


<div class="container">
  <div class="row justify-content-center">

      <div class="col-md-4  mt-5  text-center">
        <img src="assets/images/DOSTxtTab.png" width="100%">
      </div>

  </div>

 <div class="row justify-content-center">

      <div class="col-md-6 step-gray   mt-4 mt-2 step-white text-center ridge">
        <h2 class="mt-3 ">We Really Apprciate your Emails and Calls</h2>
        <span class="text-xl">Discount O'Sales</span>
        <br>
        <span class="text-lg">Suite 102, 1st Floor, Sector A1</span>
        <br>
        <span class="text-lg">TownShip, Lahore</span>
        <br>
        <span class="text-lg">Punjab, Pakistan</span>

        <br>
        <span class="text-lg"><b>Phone:</b></span>

        <span class="text-lg">0311 4131446</span>
        <br>
        <span class="text-lg"><b>Email:</b></span>
        <span class="text-lg mb-4">support@discountosales.com</span>
        <br>
      </div>
 </div>
 <div class="row justify-content-center">

    <div class="col-md-4  mt-4 text-center">

        <img src="assets/images/LuminogicsLogo.png" width="20%">
        <br>
        <span class="text-lg">Developed by Luminogics (SMC-Private) Limited</span>
        <br>
        <span class="text-lg"><a href="http://www.luminogics.com" target="_blank">www.luminogics.com</a></span>


      </div>

  </div>
</div>
